<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      All Posts
    </h2>
  </div>
  <!-- For each dish in the array of dish objects, the following <div> will be rendered. -->
  {{#each posts as |post|}}
    <div class="col-md-5">
      <p>
        {{format_date post.createdAt}}
      </p>
      <p>
        {{post.id}}
      </p>
      <p>
        {{post.body}}
      </p>
      <p>
        --{{post.User.username}}.
      </p>
    </div>
  {{/each}}
</div>