<div class="d-flex col-12 justify-content-center mt-5">
    <div id="post-card" class="col-8 border border-dark shadow mb-5 rounded">
        <div class="d-flex justify-content-center" id="post-title">
            <h3>Log-In!</h3>
        </div>
        <form id="login-form" class="d-flex flex-column align-items-center pt-3 pb-3">
            <label class="pb-2" for="username-input-login">Username</label>
            <input id="username-input-login" type="text">
            <label class="pb-2 pt-4" for="password-input-login">Password</label>
            <input class="mb-1" id="password-input-login" type="password">
            <input class="mt-4" type="submit" value="Submit">
        </form>
        <div class="d-flex justify-content-center pb-4">
            <a id="sign-up-in" href="/signup">New to the site? Click here to sign-up!</a>
        </div>
</div>

<script src="/js/login.js"></script>