<div class="d-flex col-12 justify-content-center mt-5">
    <div id="post-card" class="col-8 border border-dark shadow mb-5 rounded">
        <div class="d-flex justify-content-center" id="post-title">
            <h3>Sign up!</h3>
        </div>
        <form id="signup-form" class="d-flex flex-column align-items-center pt-3 pb-3">
            <label class="pb-2" for="username-input-signup">Username</label>
            <input id="username-input-signup" type="text">
            <label class="pb-2 pt-4" for="password-input-signup">Password</label>
            <input class="mb-1" id="password-input-signup" type="password">
            <input class="mt-4" type="submit" value="Submit">
        </form>
        <div class="d-flex justify-content-center pb-4">
            <a id="sign-up-in" href="/login">Already have an account? Click here to login!</a>
        </div>
</div>

<script src="/js/signup.js"></script>