/* global styling */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

#sign-up-in{
  font-size: calc(18px +.5vw);
  font-weight: bold;
}

#header {
  background-color: purple;
  color: white;
}

#header a {
  color: white;
  text-decoration: none;
  font-size: calc(18px + .5vw);
}

main {
  background-color: rgb(212, 204, 109);
}

#post-card {
  background-color: aquamarine;
}

#post-title {
  border: 2px solid black;
  background-color: rgb(210, 192, 192);
}

#post-username{
  font-size:  calc(12px + .2vw); 
}

label {
  font-size: calc(16px + .2vw);
  font-weight: bold;
}

#new-post {
  background-color: purple;
  color: white;
  font-size: calc(16px + .5vw);
}

/* all-posts-admin handlebar */

#new-post:hover {
  background-color: rgb(170, 3, 170);
}

#new-post:active {
  background-color: rgb(107, 4, 107);
}

textarea {
  width: 70%;
}

/* single-post handlebar */

#comment-box {
  width: 90%;
}