
#header {
  background-color: purple;
  color: white;
}

#header h1 {
  text-align: center;
}

#header a {
  color: white;
  text-decoration: none;
}

#login {
  font-size: 26px;
}

main {
  background-color: rgb(212, 204, 109);
}

#post-card {
  background-color: aquamarine;
}

#post-title {
  border: 2px solid black;
  background-color: rgb(210, 192, 192);
}